.main_footer {
  background-color: #15141a;
  padding: 52px 0;
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-wrap_social {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    & a {
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-svg {
    width: 25px;
    height: 25px;
    padding: 3px;
    fill: #444348;
    transition: 0.2s;
    &:hover,
    &:focus {
      fill: #008ed6;
    }
    &:active {
      opacity: 0.8;
    }
  }
  &-copyright {
    color: #444348;
    font-size: 14px;
    text-transform: uppercase;
  }
}