.main_header {
  background-image: url('../img/bg-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 38px;
  position: relative;
}

.upper-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.logo_wrap {
  display: flex;
  align-items: center;
  max-width: 120px;
  padding-left: 2px;
  color: #fff;
  transition: 0.2s;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
  &-logo {
    font-family: Quicksand;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &-signature {
    font-size: 9px;
    letter-spacing: 1px;
    opacity: 0.3;
  }
}

.nav {
  max-width: 450px;
  width: 100%;
  &-list {
    display: flex;
    justify-content: space-between;
  }
  &-item {
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    position: relative;
    &:hover {
      &::before,
      &::after {
        content: '';
        width: 48%;
        height: 2px;
        position: absolute;
        background-color: #008ed6;
        bottom: -13px;
      }
      &::after {
        right: 0;
      }
    }
    &:active {
      opacity: 0.7;
    }
  }
}

.title_header {
  background-image: url(../img/header-phone.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding-left: 2px;
  padding-bottom: 110px;
  padding-top: 38px;
  &-signature {
    color: #008ed6;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  &-title {
    font-size: 48px;
    color: #fff;
    letter-spacing: 0.7px;
    max-width: 500px;
    margin-bottom: 24px;
  }
  &-paragraph {
    color: #999999;
    font-size: 18px;
    max-width: 480px;
    line-height: 26px;
    margin-bottom: 60px;
  }
  &-wrap-btn {
    max-width: 340px;
    display: flex;
    justify-content: space-between;
  }
  &-btn {
    padding: 16px;
    min-width: 160px;
    border: 1px solid #4d4d52;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.2s;
    &:hover {
      background-color: #008ed6;
    }
    &:active {
      opacity: 0.7;
    }
  }
}